body {
  font-family: "Space Grotesk", sans-serif !important;
}

.purple-ex-light {
  color: #aca4f8 !important;
}

.purple-light-bg {
  background-color: #5649cf !important;
}

.purple-color {
  color: #6d23ff !important;
}

.purple-color-bg {
  background-color: #6d23ff !important;
}

.green-color {
  color: #12c24f !important;
}

/* Grey Shades */

.grey-ex-light {
  color: #f9f9f9 !important;
}

.grey-ex-light-bg {
  background-color: #f9f9f9 !important;
}

.grey-light {
  color: #565656 !important;
}

.grey-dark {
  color: #202020 !important;
}

.grey-ex-dark-bg {
  background-color: #131416 !important;
}

/* Text Style */

.heading-1 {
  font-size: 60px;
}
.heading-2 {
  font-size: 40px;
}
.heading-3 {
  font-size: 26px;
}

.body-text-1 {
  font-size: 20px;
}
.body-text-2 {
  font-size: 16px;
}

.body-text-3 {
  font-size: 14px;
}

/* Button Styles */
.btn-border {
  border: 1px solid #d6d6d6 !important;
}

.outline-btn {
  border: 1px solid #6d23ff !important;
}

.outline-btn:hover {
  background-color: #6d23ff !important;
  color: #f9f9f9 !important;
}
.lock:hover .icon-unlock,
.lock .icon-lock {
  display: none;
}
.lock:hover .icon-lock {
  display: inline;
}

.shapes {
  height: 400px !important;
}

.circle {
  width: 110px;
  height: 30%;
  left: 14%;
  z-index: 3;
}

.fbox {
  z-index: 2;
  top: 8%;
  right: 5%;
}

.drag {
  z-index: 4;
  top: 40%;
  left: 36%;
  border: 2px dashed rgba(160, 160, 160, 0.3);
}

.square {
  z-index: 1;
  top: 15%;
  left: 15%;
}

.task {
  z-index: 5;
  bottom: 8%;
  right: 8%;
}

li {
  border: none !important;
}
